/* App container */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-image: url("https://media.istockphoto.com/id/106577335/photo/blue-sky-with-scattered-clouds.jpg?s=612x612&w=0&k=20&c=xqgRAso5WNEoST0ca6TCwUdIhp6CayExkZy_UL2PW0s=");
  background-size: cover; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 20px 20px 10px 20px;
  margin: 0;
}

.logo {
  font-family: 'Lilita One', cursive;  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.auth-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* Form container */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* div {
  margin: 0 0 10px 0;

} */

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #555;
}

/* User info container */
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: red;
  font-size: 18px;
  font-weight: bold;
}



img{
  width: 400px;
  height: 350px;

  padding-top: 50px;
}

p{

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 100 ;
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
  text-align: center;
}

#intro{
  font-family: 'Pacifico', cursive;    
  background-color: #333;
  color: aliceblue;
  padding: 50px;
  margin: 0;
}

